.file {
    position: relative;
    display: inline-block;
    background: #b7bfc7;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: .25rem .75rem;
    overflow: hidden;
    color: black;
    text-decoration: none;
    text-indent: 0;
    line-height: 30px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #6f8e9d;
    text-decoration: none;
}



.breathe-div {
    width: 50px;
    height: 50px;
    border: 1px solid #2b92d4;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin:50px auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: breathe;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes breathe {
    0% {
        opacity: .4;
        box-shadow: 0 1px 2px rgba(0, 147, 223, 0.4), 0 1px 1px rgba(0, 147, 223, 0.1) inset;
    }

    100% {
        opacity: 1;
        border: 1px solid rgba(59, 235, 235, 0.7);
        box-shadow: 0 1px 15px #0093df, 0 1px 10px #0093df inset;
    }
}


.footer{
    position:absolute; bottom:5rem;left: 40%; width:50%; height:30px;
}